html,body{
    width:100%;
    height:100%;
    margin:0;
}
#topnavigation{
    display: flex;
    background-color:white;
    z-index:1;
    justify-content:space-between;
    align-items:center;
    gap:3rem;
}
#topnavigation .buttons{
    display: flex;
    
}
main{
    background-color:black;
    height:100%;
    width:100%;
}

#searchbox{
    display: flex;
    flex-grow: 1;

    height:2rem;
    font-size:18px;
    color:darkorange;
    background-color:rgb(255, 200, 144);
    border: 3px solid orange;
    border-radius:10px;

}

#searchbox input{
    border:none;
    width:100%;
    height:100%;
}

#searchbox img {
    width: 2rem;
}

#profilepict{
    width:10%;
    height:10%;
}